*{
    padding: 0;
    margin: 0;
}

html,
body {
    height: 100%;
    width: 100%;
}

body{
    background-color: lightblue;
}

.container{
    position: relative;
    margin: auto;
    top: 250px;
    text-align: center;
}

#layout{
    border: 2px solid #d3d3d3;
    width: 800px;
    height: 400px;
    background-color: #f1f1f1;
    display: inline-block;

}

#dog{
    width: 50px;
    height: 50px;
    position: relative;
    top: 350px;
    left: 50px;
}

#block{
    width: 40px;
    height: 40px;
    background-color: red;
    position: relative;
    top: 310px;
    left: 760px;
    border-radius: 30px;
}

#score{
    width: 800px;
    height: 20px;
    position: absolute;
    text-align: center;
    font-size: 30px;
    font-family: Calibri;
    display: inline-block;
}



/*.big_block{*/
/*    width: 30px;*/
/*    height: 30px;*/
/*    background-color: blue;*/
/*    position: relative;*/
/*    top: 150px;*/
/*    left: 470px;*/
/*    border-radius:20px ;*/
/*}*/



