*{
    padding: 0;
    margin: 0;
}

body{
    background-image: url("https://media.giphy.com/media/xTiTnxpQ3ghPiB2Hp6/giphy.gif");
}

#layout{
    border: 2px solid salmon;
    width: 600px;
    height: 300px;
    background-color: cornflowerblue;
}

#dog{
    width: 20px;
    height: 20px;
    position: relative;
    top: 280px;
    left: 20px;
}

#score{
    width: 600px;
    height: 20px;
    position: absolute;
    text-align: center;
}

#block{
    width: 20px;
    height: 20px;
    background-color: red;
    position: relative;
    top: 260px;
    left: 580px;
    border-radius:20px ;
}

/*.big_block{*/
/*    width: 30px;*/
/*    height: 30px;*/
/*    background-color: blue;*/
/*    position: relative;*/
/*    top: 150px;*/
/*    left: 470px;*/
/*    border-radius:20px ;*/
/*}*/



